* {
  margin: 0;
}
nav{
    padding: 40px;
}
nav a {
  text-decoration: none;
  color: black;
}
nav li {
  list-style: none;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.nav-2 ul {
  display: flex;
  gap: 40px;
  font-size: 22px;
}
.nav-3 {
  display: flex;
  gap: 30px;
}
button {
  border-radius: 10px;
  padding: 15px;
  border: none;
  outline: none;
}
.butn-login {
  background-color: #f1f1f1;
  width: 144px;
  height: 49px;
}
.butn-get {
  background-color: #000000;
  height: 49px;
}
.butn-get a {
  color: white;
}
