* {
  margin: 0;
}
body{
  font-family:"Inter", serif;
}
/* nav bar starting */
nav {
  padding: 40px;
}
nav a {
  text-decoration: none;
  color: black;
}
nav li {
  list-style: none;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.nav-2 ul {
  display: flex;
  gap: 40px;
  font-size: 22px;
}
.nav-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
button {
  border-radius: 30px;
  padding: 15px;
  border: none;
  outline: none;
}
.butn-login {
  background-color: #f1f1f1;
  width: 144px;
  height: 49px;
  font-size: 22px;
}
.butn-get {
  background-color: #000000;
  width: 305px;
  height: 49px;
  font-size: 22px;
}
.butn-get a {
  color: white;
}
/* nav bar responsive starting */

@media screen and (max-width: 767px) {
  .hide {
    display: none;
  }
  .nav-1 img {
    width: 100%;
  }
  nav {
    padding: 10px;
  }
  .nav-3 {
    gap: 10px;
  }
  .butn-login {
    width: 70px;
    height: 40px;
    font-size: 12px;
  }
  .butn-get {
    width: 110px;
    height: 40px;
    font-size: 12px;
  }
}
/* nav bar end */
/* input section start */
.input-section img {
  width: 100%;
  z-index: -44;
  position: absolute;
}
.input-container {
}
.inputs {
  position: absolute;
  top: 45%;
  left: 17%;
  z-index: 1;
  background-color: white;
  padding: 50px;
  text-align: center;

  & p {
    font-size: 45px;
  }
}
.up {
  width: 222px;
  height: 50px;
  background-color: #f1f1f1;
  margin-top: 50px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
}
.down-1 {
  width: 680px;
  height: 50px;
  background-color: #f1f1f1;
  margin-top: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}
.down-2 {
  width: 222px;
  height: 49px;
  border-radius: 30px;
  background-color: #00ebc7;
  border: none;
  margin-top: 10px;
}
.Zappr {
  position: absolute;
  left: 42%;
  bottom: -160px;
  z-index: 2;
}
.butn-Zappr {
  background-color: #ffffff;
  height: 49px;
  width: 183px;
}
/* input section responsive starting */

@media screen and (max-width: 767px) {
  .inputs {
    position: relative;
    width: auto;
    top: auto;
    left: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  .Zappr {
    display: none;
  }
  .img-f {
    width: 100%;
  }
  .down-1 {
    width: 222px;
  }
}
/* Buy_Sell section start */
.Buy_Sell-container {
  text-align: center;
  background-color: #fde24f;
  padding: 50px;
  & h3 {
    font-size: 34px;
    margin: 50px;
  }
}
@media screen and (max-width: 767px) {
  .Buy_Sell-container {
    padding: 30px;
    & h3 {
      font-size: 18px;
      margin: 30px;
    }
    img {
      width: 100%;
    }
  }
}
/* Buy_Sell section end */
/* features section start */
.features-container {
  padding: 50px;
  & h2 {
    font-size: 34px;
  }
}
.features-container-butn {
  display: flex;
  justify-content: center;
  align-items: center;
  & button {
    background-color: #fff;
    padding: 10px;
    border: 1px solid black;
    width: 227px;
    height: 49px;
    & a {
      text-decoration: none;
      font-size: 22px;
      color: black;
    }
  }
}
.features-images {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  padding: 50px;
  text-align: center;
}
.features-images hr {
  flex-direction: column;
}
.features-images1 {
  h3 {
    margin-top: 30px;
    font-size: 24px;
  }
  p {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 50px;
  }
  a {
    color: rgb(0, 0, 0);
  }
}
/* features section responsive start */
@media screen and (max-width: 767px) {
  .features-container-butn {
    & button {
      width: 200px;
      height: 49px;
      & a {
        font-size: 20px;
      }
    }
  }
  .features-images {
    display: flex;
    gap: 40px;
    flex-direction: column;
    padding: 40px;
  }
}
/* Buy and sell section start */
.buy-sell-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.buy-sell-container {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 767px) {
  .buy-sell-container {
    flex-direction: column;
    padding: 20px;
  }
}
/* Buy and sell section end */
.singup-section {
  padding: 75px;
  text-align: center;
  background-color: #cfbaff;
  & h2 {
    font-size: 75px;
  }
  button {
    padding: 10px;
    margin-top: 80px;
    background-color: black;
    width: 265px;
    height: 69px;
    border-radius: 15px;
    & a {
      text-decoration: none;
      color: white;
      font-size: 32px;
    }
  }
}
@media screen and (max-width: 767px) {
  .singup-section {
    padding: 55px;
    & h2 {
      font-size: 35px;
    }
    button {
      padding: 10px;
      margin-top: 40px;
      width: 150px;
      height: 49px;
      & a {
        font-size: 22px;
      }
    }
  }
}
/* footer section start */
footer {
  background-color: black;
  color: white;
}
.spacio {
  display: flex;
  justify-content: space-around;
  padding: 70px;
  & h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  p {
    font-size: 20px;
    margin-top: 10px;
  }
}
.copyright {
  padding: 30px;
  & p {
    font-size: 13px;
  }
}
@media screen and (max-width: 767px) {
  .spacio {
    flex-direction: column ;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
    & h3 {
      font-size: 18px;
      margin-bottom: 5px;
    }
    p {
      font-size: 14px;
      margin-top: 5px;
    }
    img {
      width: 100%;
    }
  }
  .copyright {
    padding: 20px;
    & p {
      font-size: 12px;
    }
  }
}
